parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes
	default_charset: "UTF-8"

di:
	debugger: true

tracy:
	strictMode : true
	maxDepth: 5
	maxLen: 3000

doctrine:
    dbname: ulovdomov-db
    host: localhost
    user: ulovdomov-user
    password: '^n/<z.gEnA9^(2'

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

services:
	router: App\Router\RouterFactory::createRouter
	- App\Models\Repositories\User
	- App\Models\Repositories\UserAdmin
	- App\Models\Repositories\UserPermission
	- App\Models\Repositories\Village
